.Menus{
    display: flex ;
    gap: 100px;
    position: absolute;
    left: 410px;
    top: 15px;
    font-size: medium;
    text-decoration: none;
    background-color: transparent;
    letter-spacing: 6px;
    color: rgb(228, 228, 228);
    text-shadow: 0 0 15px red;
            
}

.Menus :hover{
    transform: translateY(-9px) scale(1.2);
    animation: flicker 1s infinite;
    color: rgba(255, 0, 0, 0.5);
}

#c1{
    background-color: rgb(182, 103, 0);
    height: 500px;
    width: 350px;
    position: relative;
    top: 700px;
    left: 70px;
    border-radius: 20px;
    
}   
#c1:hover{
     transform: scale(1.03);
    box-shadow: 0 0 70px rgba(255, 0, 0, 0.5);
}
svg path{
    fill: transparent;  
    stroke: rgb(241, 241, 241);
    stroke-width: 0.7;
    stroke-dasharray: 70;
    stroke-dashoffset: 200;
    animation: text 2s reverse infinite;
}

@keyframes text {
    0%{
        stroke-dashoffset: 70;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

#pottii{
    height: 700px;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    top: -75px;
   
}

p{
    font-size: 60px;
}
.top{
           
           background-image: url(cry\ within.jpg) ;
           height: 250px;
           width: 100%;
           position: relative;
           top: -75px;
          

           
        }

   @keyframes flicker {
            0%, 18%, 22%, 25%, 53%, 57%, 100% { opacity: 1; }
            20%, 24%, 55% { opacity: 0.3; }
        }     
#flick{
    font-size: 4rem;
    background-color: transparent;
            letter-spacing: 6px;
            color: darkred;
            text-shadow: 0 0 15px red;
            animation: flicker 1s infinite;
            position: absolute;
            top: 50px;
            left: 36%;

}
*{
    background-color: black;
    }




#c1 img{
    height: 400px;
    width: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    
}
.btn:hover {
            background: red;
            box-shadow: 0 0 15px red;
        }
.c2{
     background-color: rgb(182, 103, 0);
    height: 500px;
    width: 350px;
    position: relative;
    top: 750px;
    left: 1400px;
    border-radius: 20px;
    
}   
    
    

        

.c2 img{
    height: 400px;
    width: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}  
.c2:hover{
     transform: scale(1.03);
    box-shadow: 0 0 70px rgba(255, 0, 0, 0.5);
}
#c3{
    background-color: rgb(182, 103, 0);
    height: 500px;
    width: 350px;
    position: relative;
    top: 700px;
    right: 70px;
    border-radius: 20px;
    
} 
#c3 img{
    height: 400px;
    width: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}  
#c3:hover{
     transform: scale(1.03);
    box-shadow: 0 0 70px rgba(255, 0, 0, 0.5);
}

#boxes{
    
    gap: 200px;
       
}

.d1{
    height: 250px;
    width: 700px;
    background-color: rgba(255,0,0,0.15);
    position: absolute;
    right: 100px;
    top: 750px;
    border-radius: 20px;
    
    
}
.d1:hover{
    transform: scale(1.03);
    box-shadow: 0 0 70px rgba(255, 0, 0, 0.5);
}
.d2{
    height: 250px;
    width: 700px;
    background-color: rgba(255,0,0,0.15);
    position: absolute;
    left: 70px;
    top: 1300px;
    border-radius: 20px;
    
    
    
}
.d2:hover{
    transform: scale(1.03);
    box-shadow: 0 0 70px rgba(255, 0, 0, 0.5);
}
