.Menus{
    display: flex ;
    gap: 100px;
    position: absolute;
    left: 400px;
    font-size: medium;
    color: aliceblue;
    top: 20px;
}

.Menus :hover{
    transform: translateY(-9px) scale(1.5);
    color: red;
    text-shadow: 0 0 5px whitesmoke;
    animation: flicker 1s infinite;
}

#c1{
    background-color: antiquewhite;
    height: 500px;
    width: 350px;
    position: absolute;
    top: 190px;
    left: 30px;
}

svg path{
    fill: transparent;
    stroke: rgb(241, 241, 241);
    stroke-width: 0.7;
    stroke-dasharray: 70;
    stroke-dashoffset: 200;
    animation: text 2s reverse infinite;
}

@keyframes text {
    0%{
        stroke-dashoffset: 70;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

#pottii{
    height: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    position: relative;
    top: -75px;
   
}

p{
    font-size: 60px;
}

.top{
        background-image: url(cry\ within.jpg) ;
        height: 250px;
        width: 100%;
        position: relative;
        top: -75px;
    }

@keyframes flicker {
            0%, 18%, 22%, 25%, 53%, 57%, 100% { opacity: 1; }
            20%, 24%, 55% { opacity: 0.3; }
        }     
#flick{
            font-size: 4rem;
            letter-spacing: 6px;
            color: darkred;
            text-shadow: 0 0 15px red;
            animation: flicker 1s infinite;
            position: absolute;
            top: 50px;
            left: 36%;
}
