.Menus{
    display: flex ;
    gap: 50px;
    position: absolute;
    left: 450px;
    font-size: larger;
    
    background-color: transparent;
    letter-spacing: 6px;
    color: rgb(228, 228, 228);
    text-shadow: 0 0 15px red;
     position: absolute;
            
}

.Menus :hover{
    transform: translateY(-9px) scale(1.5);
    animation: flicker 1s infinite;
    color: rgba(255, 0, 0, 0.5);
    
    
}

#c1{
    background-color: rgb(182, 103, 0);
    height: 500px;
    width: 350px;
    position: relative;
    top: 150px;
    left: 70px;
    
}   
#c1:hover{
     transform: scale(1.03);
    box-shadow: 0 0 70px rgba(255, 0, 0, 0.5);
}
svg path{
    fill: transparent;  
    stroke: rgb(241, 241, 241);
    stroke-width: 0.7;
    stroke-dasharray: 70;
    stroke-dashoffset: 200;
    animation: text 2s reverse infinite;
}

@keyframes text {
    0%{
        stroke-dashoffset: 70;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

#pottii{
    height: 700px;
    background-color: rgb(9, 9, 9);
    border-radius: 20px;
    position: relative;
    top: -75px;
   
}

p{
    font-size: 60px;
}
.top{
           
           background-image: url(cry\ within.jpg) ;
           height: 250px;
           width: 100%;
           position: relative;
           top: -75px;

           
        }

   @keyframes flicker {
            0%, 18%, 22%, 25%, 53%, 57%, 100% { opacity: 1; }
            20%, 24%, 55% { opacity: 0.3; }
        }     
#flick{
    font-size: 4rem;
    background-color: transparent;
            letter-spacing: 6px;
            color: darkred;
            text-shadow: 0 0 15px red;
            animation: flicker 1s infinite;
            position: absolute;
            top: 50px;
            left: 36%;

}
*{
    background-color: black;
}

#c1 img{
    height: 400px;
    width: 350px;
    
}
.btn:hover {
            background: red;
            box-shadow: 0 0 15px red;
        }
        .btn {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background: darkred;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            letter-spacing: 2px;
            transition: background 0.3s, box-shadow 0.3s;
            position: absolute;
            bottom: 50px;
        }