.Menus{
    display: flex ;
    gap: 50px;
    position: absolute;
    left: 500px;
    font-size: larger;

}

.Menus :hover{
    transform: translateY(-9px) scale(1.5);
}

#c1{
    background-color: antiquewhite;
    height: 500px;
    width: 350px;
    position: absolute;
    top: 190px;
    left: 30px;
}

svg path{
    fill: transparent;
    stroke: rgb(241, 241, 241);
    stroke-width: 0.7;
    stroke-dasharray: 70;
    stroke-dashoffset: 200;
    animation: text 2s reverse infinite;
}

@keyframes text {
    0%{
        stroke-dashoffset: 70;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

#pottii{
    height: 700px;
    background-color: lightgray;
    border-radius: 20px;
    position: relative;
    top: -75px;
   
}

p{
    font-size: 60px;
}
<<<<<<< HEAD
=======
.top{
           
           background-image: url(cry\ within.jpg) ;
           height: 250px;
           width: 100%;
           position: relative;
           top: -75px;

           
        }
>>>>>>> c3f94ac3cf0f0e5690fc0ac754dc331dcad21169

.top{
        background-image: url(cry\ within.jpg) ;
        height: 250px;
        width: 100%;
        position: relative;
        top: -75px;
    }

@keyframes flicker {
            0%, 18%, 22%, 25%, 53%, 57%, 100% { opacity: 1; }
            20%, 24%, 55% { opacity: 0.3; }
        }     
#flick{
    font-size: 4rem;
            letter-spacing: 6px;
            color: darkred;
            text-shadow: 0 0 15px red;
            animation: flicker 3s infinite;
            position: absolute;
            top: 50px;
<<<<<<< HEAD
            left: 36%;
=======
            left: 38%;

>>>>>>> c3f94ac3cf0f0e5690fc0ac754dc331dcad21169
}
