.Menus{
    display: flex ;
    gap: 50px;
    position: absolute;
    left: 500px;
    font-size: larger;

}

.Menus :hover{
    transform: translateY(-9px) scale(1.5);
}

#c1{
    background-color: antiquewhite;
    height: 500px;
    width: 350px;
    position: absolute;
    top: 190px;
    left: 30px;
}
